.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.paper {
  border-radius: 8px !important;
  margin-bottom: 30px;
}
