.paper {
  margin-top: -20px;
  border-radius: 0 !important;
  padding: 30px 0;

  p {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

.title {
  font-weight: 500 !important;
  margin-bottom: 20px !important;
  font-size: 36px !important;
}

.userInfo {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }

  b {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 500;
  }

  span {
    font-size: 16px;
    color: #2ea83a;
    font-weight: 500;
  }
}
