html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2 !important;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;

  &--full {
    max-width: 1000px;
  }
}

.wrapper {
  display: flex;
  padding: 0 30px;
  padding-top: 80px;
}
